* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=================== FONTS ==========================*/
@font-face {
    font-family: 'regular';
    src: url(../fonts/MADEOkineSansPERSONALUSE-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'medium';
    src: url(../fonts/MADEOkineSansPERSONALUSE-Medium.otf) format('opentype');
}

/*=================== HEADER ==========================*/
#header {
    position: absolute;
    width: 100%;
    height: 5rem;
    align-items: center;

    background: white;
}

#header .topo a{
    text-decoration: none;
    color: black;
}

.logo img{
    width: 68px;
    height: 43px;
    margin-top: 18px;
    margin-left: 39px; 
    margin-bottom: 19px;
}

.menu {
    display: flex;
    gap: 115px;
}

nav {
    align-items: center;
}

nav ul {
    margin-left: 328px;
    margin-top: -60px
}

nav ul li{
    list-style: none;
    

    font: 400 19px 'regular', sans-serif;

}

nav ul li a{
    color: black;
    position: relative;
    display: inline;
    
    padding: 5px 30px;
    transition: 0.2s;
}


nav ul li a:hover {
    
    font: 500 19px 'medium', sans-serif;

    background-color: #EEEEEE;
    border-radius: 20px;
}

nav ul li.doenca a{
    color: black;
    position: relative;
    display: inline-block !important;
    
    
    transition: 0.2s;
}

nav ul li.doenca a:hover {
    font: 500 19px 'medium', sans-serif;
}

.doenca {
    margin-top: -5px;
}

.sobre {
    position: absolute;
    margin-left: 780px;
  }

.sobre a {
    font: 500 19px 'medium', sans-serif;

    background-color: #EEEEEE;
    border-radius: 20px;
}

.icon-Arrow-1 {
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 12px;
    font-size: 15px;
}

.dropdown {
    position: absolute;
    text-align: center; 
    margin-left: -35px;
    margin-top: -5px;
    display: none;
}

.dropdown li {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.drop-quadro {
    border-radius: 20px;
    border-bottom: solid 0.1px #00000015;
    border-left: solid 0.1px #00000015;
    border-right: solid 0.1px #00000015;
    box-shadow: 0px 1px 3px 1px #00000015;
}

.menu li.doenca:hover > .dropdown {
    display: block;
}

.tracinho {
    width: 100%;
    border-bottom: 1px solid #BEBEBE;
    position: absolute;
    margin-top: 5px;
}

/*=================== Main ==========================*/
main {
    padding-top: 95px
}

/*=================== FOOTER ==========================*/

/*=================== RESPUSIVIDADE  ==========================*/

@media (min-width: 1920px) {

    .menu {
        margin-left: 500px;
    }
    
}

