* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=================== FONTS ==========================*/
@font-face {
    font-family: 'regular';
    src: url(../fonts/MADEOkineSansPERSONALUSE-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'medium';
    src: url(../fonts/MADEOkineSansPERSONALUSE-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'thin';
    src: url(../fonts/MADEOkineSansPERSONALUSE-Thin.otf) format('opentype');
}

/*=================== HEADER ==========================*/
#header {
    position: absolute;
    width: 100%;
    height: 5rem;
    align-items: center;

    background: white;
}

#header .topo a{
    text-decoration: none;
    color: black;
}

.logo img{
    width: 68px;
    height: 43px;
    margin-top: 18px;
    margin-left: 39px; 
    margin-bottom: 19px;
}

.menu {
    display: flex;
    gap: 115px;
}

nav {
    align-items: center;
}

nav ul {
    margin-left: 328px;
    margin-top: -60px
}

nav ul li{
    list-style: none;
    

    font: 400 19px 'regular', sans-serif;

}

nav ul li a{
    color: black;
    position: relative;
    display: inline;
    
    padding: 5px 30px;
    transition: 0.2s;
}


nav ul li a:hover {
    
    font: 500 19px 'medium', sans-serif;

    background-color: #EEEEEE;
    border-radius: 20px;
}

nav ul li.doenca a{
    color: black;
    position: relative;
    display: inline-block !important;
    
    
    transition: 0.2s;
}

nav ul li.doenca a:hover {
    font: 500 19px 'medium', sans-serif;
}

.doenca {
    margin-top: -5px;

    font: 500 19px 'medium', sans-serif;

    background-color: #EEEEEE;
    border-radius: 20px;
}

.hiv a {
    font: 500 19px 'medium', sans-serif;

    background-color: #EEEEEE;
    border-radius: 20px;
}

.sobre {
    position: absolute;
    margin-left: 780px;
  }

.icon-Arrow-1 {
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 12px;
    font-size: 15px;
}

.dropdown {
    position: absolute;
    text-align: center; 
    margin-left: -20px;
    margin-top: -5px;
    width: 175px;
    display: none;
}

.dropdown li {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.drop-quadro {
    border-radius: 20px;
    border-bottom: solid 0.1px #00000015;
    border-left: solid 0.1px #00000015;
    border-right: solid 0.1px #00000015;
    box-shadow: 0px 1px 3px 1px #00000015;
}

.menu li.doenca:hover > .dropdown {
    display: block;
}

.tracinho {
    width: 100%;
    border-bottom: 1px solid #BEBEBE;
    position: absolute;
    margin-top: 5px;
}

/*=================== Main ==========================*/
main {
    padding-top: 95px
}

.img {
    margin-top: 150px;
    text-align: center;
}

.img  img {
    width: 1100px;
   
}

.container {
    width: 100%;
    width: 71rem;
    margin-left: 110px;
    padding: 0 1.5rem;
    text-align: center;
    margin-top: 20px;
}

.accordion-item {
    background-color: #D9D9D9;
    margin-bottom: 21px;
    padding: 1rem 0;
    border-radius: 20px;
    box-shadow: .5rem 2px .5rem rgba(0, 0, 0, 0.082);
}

.accordion-link {
    text-decoration: none;
    font: 400 25px 'Regular', sans-serif;
    color: black;
}

.answer {
    font: 400 15px 'regula', sans-serif;
    font-style: normal;
    text-align: justify;
    padding: 41px;
    display: none;
    transition: 650ms;
    height: 309px;
    overflow-y: scroll;
}

.answer::-webkit-scrollbar {
    width: 10px;
  }
  
.answer::-webkit-scrollbar-track {
    background: linear-gradient(180deg, #B9B9B9 0%, rgba(185, 185, 185, 0.25) 100%);    
    border-radius: 20px;   
  }
  
.answer::-webkit-scrollbar-thumb {
    background-color: #858585;   
    border-radius: 20px;       
  }

.answer p {
    color: black;
}

.answer p a {
    text-decoration: none;
    color: blue;
}

.answer .important {
    background-color: #BEBEBE;
    padding: 1rem;
    border-radius: 20px;
}

.answer .bold {
    color:#272626;
}

.answer p a:hover {
    color:rgba(0, 0, 255, 0.596);
}

th, td {
    border-bottom: 1px solid #BEBEBE;
    padding: 5px;
    text-align: center;
}

.accordion-item:target .answer {
    display: block;
}

.accordion-item:target {
    background: linear-gradient(180deg, rgba(149, 149, 149, 0.54) 0%, rgba(217, 217, 217, 0.135) 100%);
}

.fontes {
    
    margin-left: 150px;
    background-color: #D9D9D9;
    margin-bottom: 20px;
    text-align: center;
    width: 1100px;
    padding: 0 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.fontes b {
    font: 400 24px 'Regular', sans-serif;
}

.fontes a {
    font: 100 24px 'thin', sans-serif;
    text-decoration: none;
    color: black;
}

.fontes a:hover {
    color: #000000a1
}

input {
    text-align: center;
    width: 970px;
    height: 65px;
    margin-left: 220px;
    font: 400 20px 'Regular', sans-serif;
    color: #BBBBBB;
    background: #F5F5F5;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
}

.button {
    background-color: #D9D9D9;
    display: inline-flex;
    align-items: center;
    margin-left: 575px;
    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 0.25rem;
    text-decoration: none;
    color: black;
    font: 900 20px 'black', sans-serif;
    color: #747474;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
}

.button:hover {
    color: black;
}

p.topo {
    text-align: center;
    margin-top: 298px;
}

p.topo a {
    text-decoration: none;
    font: 100 25px 'thin', sans-serif;
    color: black;  
}

/*=================== FOOTER ==========================*/
footer {
    background-color: #D9D9D9;
    width: 100%;
    height: 115px;
}

p.direitos {
    padding-top: 46px;
    margin-left: 115px;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 16px;
}

.social a {
    color: black;
}

.social a i:hover {
    transform: translateY(-4px);
}
.icon {
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px; 
}

.social {
    margin-left: 900px;
    margin-top: -16px;
}

/*=================== RESPUSIVIDADE  ==========================*/

@media (min-width: 1920px) {

    /*============= header ================*/
    .menu {
        margin-left: 500px;
    }

    /*============= main ================*/
    .img {
        text-align: center;
    }

    .img img {
        width: 100%;
        width: 1249px;
    }

    .container {
        margin-left: 390px;
    }

    .fontes {
        margin-left: 420px;
    }

    input {
        margin-left: 500px;
    }
    
    .button {
        margin-left: 860px;
    }
    
   /*============= footer ================*/

   .social {
    margin-left: 1450px;
   }
}