* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=================== FONTS ==========================*/
@font-face {
    font-family: 'regular';
    src: url(../fonts/MADEOkineSansPERSONALUSE-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'medium';
    src: url(../fonts/MADEOkineSansPERSONALUSE-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'light';
    src: url(..//fonts/MADEOkineSansPERSONALUSE-Light.otf) format('opentype');
}

@font-face {
    font-family: 'thin';
    src: url(../fonts/MADEOkineSansPERSONALUSE-Thin.otf) format('opentype');
}

/*=================== HEADER ==========================*/
#header {
    position: absolute;
    width: 100%;
    height: 5rem;
    align-items: center;

    background: white;
}

#header .topo a{
    text-decoration: none;
    color: black;
}

.logo img{
    width: 68px;
    height: 43px;
    margin-top: 18px;
    margin-left: 39px; 
    margin-bottom: 19px;
}

.menu {
    display: flex;
    gap: 150px;
}

nav {
    align-items: center;
}

nav ul {
    margin-left: 328px;
    margin-top: -60px
}

nav ul li{
    list-style: none;
    

    font: 400 19px 'regular', sans-serif;

}

nav ul li a{
    color: black;
    position: relative;
    display: inline;
    text-align: center;
    padding: 5px 30px;
    transition: 0.2s;
}


nav ul li a:hover {
    
    font: 500 19px 'medium', sans-serif;

    background-color: #EEEEEE;
    border-radius: 20px;
}

.missao a{
    font: 500 19px 'medium', sans-serif;

    background-color: #EEEEEE;
    border-radius: 20px;
}

.sobre {
    position: absolute;
    margin-left: 580px; 
}

.tracinho {
    width: 100%;
    border-bottom: 1px solid #BEBEBE;
    position: absolute;
    margin-top: 25px;
}

/*=================== Main ==========================*/
main {
    padding-top: 95px
}

.titulo {
    text-align: center;
    margin-top: 219px;
    font-family: 'regular', sans-serif;
    font-size: 40px;
}

.texto {
    font-family: 'light', sans-serif;
    font-size: 20px;
    margin-left: 218px;
}

.txt1 {
    margin-top: 61px;
}

.valor {
    margin-left: 245px;
}

ul.valor li {
    font-family: 'light', sans-serif; 
    font-size: 20px;
}

p.topo {
    text-align: center;
    transform: translateY(395px);
    margin-top: 298px;
}

p.topo a {
    text-decoration: none;
    font-family: 'thin';
    color: black;
    font-size: 25px
}

p.topo a:hover {
    font: 700 25px 'thin', sans-serif;
}

/*=================== FOOTER ==========================*/

footer {
    background-color: #D9D9D9;
    width: 100%;
    height: 115px;
    margin-top: 395px;
}

p.direitos {
    padding-top: 46px;
    margin-left: 115px;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 16px;
}

.social a {
    color: black;
    display: inline-block;
    transform: .3s;
}

.social a:hover {
    transform: translateY(-4px);
}

.icon {
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px; 
}

.social {
    margin-left: 900px;
    margin-top: -16px;
}

/*=================== RESPUSIVIDADE  ==========================*/

@media (min-width: 1444px) {
    .social {
        margin-left: 1000px;
       }
}

@media (min-width: 1920px) {

    /*============= header ================*/
    .menu {
        margin-left: 600px;
    }

     /*============= header ================*/
    .texto1 {
        margin-left: 218px;
    }

    /*============= footer ================*/

   .social {
    margin-left: 1450px;
   }

   section.cards {
    display: inline-block;
    margin-left: -50px;
    }

   section.cards img {

    margin-left: 350px;
   }

}