* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=================== FONTS ==========================*/
@font-face {
    font-family: 'regular';
    src: url(../fonts/MADEOkineSansPERSONALUSE-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'medium';
    src: url(../fonts/MADEOkineSansPERSONALUSE-Medium.otf) format('opentype');
}

/*=================== HEADER ==========================*/
#header {
    position: absolute;
    width: 100%;
    height: 5rem;
    align-items: center;

    background: white;
}

#header .topo a{
    text-decoration: none;
    color: black;
}

.logo img{
    width: 68px;
    height: 43px;
    margin-top: 18px;
    margin-left: 39px; 
    margin-bottom: 19px;
}

.menu {
    margin-right: 114px;
}

nav {
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 114px;

    font: 400 19px 'regular', sans-serif;

}

nav ul li a{
    color: black;
    position: relative;
    display: inline;
    
    padding: 5px 40px
}


nav ul li a:hover {
    
    font: 500 19px 'medium', sans-serif;
    transition: 0.2s;

    background-color: #BEBEBE;
    border-radius: 20px;
}

.home {
    margin-left: 328px;
    margin-top: -50px;
    margin-bottom: 24px;
} 

.doenca {
    margin-left: 513px;
    margin-top: -50px;
    margin-bottom: 25px;
}

.missao {
    margin-left: 731px;
    margin-top: -50px;
    margin-bottom: 25px;
}

.sobre {
    margin-left: 1036px;
    margin-top: -50px;
    margin-bottom: 25px;
    margin-right: -289px;
}

.icon-Arrow-1 {
    align-items: center;
    margin-left: 575px;
    margin-top: -20px;
    margin-bottom: 12px;
}

.toggle:hover {
    background-color: #BEBEBE;
    
}

.menu ul li.doenca:hover>ul.dropdown {
    display:block;
}

.dropdown {
    align-items: center;
    text-align: center; 
    
}

.dropdown li a{
    border-bottom: 1px solid #BEBEBE;
}

.dropdown li {
    position: relative;
    margin-top: 10px;
}

.dropdown li a:hover {
    border-radius: 0 !important;
}

.tracinho {
    width: 100%;
    height: 0%;
    margin-bottom: -1420px;
    background: #BEBEBE;
}
/*=================== Main ==========================*/
main {
    
}
/*=================== FOOTER ==========================*/

/*=================== RESPUSIVIDADE  ==========================*/

@media (min-width: 1920px) {

    
}

@media (min-width: 1360) {

}